@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

*{

    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
}


/*================================== NAVBAR ========================================*/

header {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  .toggler {
    display: none;
  }
  
  
  
  .logo {
    display: flex;
    height: 60px;
    width: 60px;
    margin-left: 16px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 16px;
    background: #00000052;
    left: -100%;
    transition: all .5s;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 16px;
    margin-left: 16px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.658);
    text-transform: uppercase;
    
  }
  
  nav a:hover {
    color: rgb(91, 180, 253);
    transition: ease-in .1s;
  }
  
  .toggler:checked ~ nav ul {
    left: 0;
  }
  
  .burger {
    position: absolute;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px rgb(31, 31, 31);
    top: 0;
    right: 0;
    margin-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .toggler:checked ~ nav a {
    opacity: 1;
  }
  
  
  /* Desktop Screen Format */
  
  @media screen and (min-width: 800px) {
    .burger {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(700px, 3fr);
    }
  
    nav {
      
      display: flex;
      grid-column: 3/4;
      justify-content: flex-end;
      align-items: center;
    }
  
    nav ul {
      all: unset;
      list-style: none;
      display: flex;
      
    }
  
    nav li {
      margin-bottom: 0;
      margin-right: 16px;
      
    }
  
    nav a {
      opacity: 1;
    }
  
  }





/*================================== PARALLAX E SCROLL-REVEAL ========================================*/
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.headline{
    font-size: 15rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-weight: 100;
}

.text-wrapper{
    text-align: center;
}

.headline::first-letter{
    font-size: 20rem;
}

.sub-headline{
    font-size: 10rem;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


@media screen and (min-width: 568px){
  .hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
 }

  .headline{
    font-size: 15rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-weight: 100;
 }

  .text-wrapper{
    text-align: center;
 }

  .headline::first-letter{
    font-size: 20rem;
 }

  .sub-headline{
    font-size: 10rem;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
 }

  .parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
 }
  
}




.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.parallax__text{
    width: 270px;
}



@media screen and (min-width: 568px){
  .parallax__text{
    width: 550px;
  }  

  
}

@media screen and (max-width: 568px){
  .home__scroll-button{
    display: none;
  }
}

@media screen and (min-width: 800px){
    .parallax__text{
        width: 750px;
    }

    
}





.scrolling-active{
  background-color: rgba(0, 0, 0, 0.726);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.445);
  transition: .5s ease-in-out;
}




.home__scroll-button{
  color: white;
  margin-top: 450px;
  margin-left: -150px;
  transition: .5s;
  text-decoration: none;
}

.home__scroll-button:hover{
  transform: translateY(.25rem);
  color: rgb(133, 133, 133);
  transition: .5s;
}

.home__scroll-mouse{
  font-size: 2rem;
}


.home__scroll-name{
  text-decoration: none;
}




.home__scroll-arrow{
  font-size: 1.25rem;
}

/*================================== SOCIAL-ICONS ========================================*/

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  margin-top: 320px;

}

.home__social-icon{
  font-size: 1.25rem;
  color: white;
  margin-left: -270px;
  width: 20px;
  transition: .5s;

}

.home__social-icon:hover{
  color: #838383;
  transition: .5s;

}

@media screen and (min-width: 568px){
  .home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    margin-top: 320px;
    
  }
  
  .home__social-icon{
    font-size: 1.25rem;
    color: white;
    margin-left: -545px;
  }
}

@media screen and (min-width: 800px){
  .home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    margin-top: 380px;
    
  }
  
  .home__social-icon{
    font-size: 1.25rem;
    color: white;
    margin-left: -745px;
  }
}


.reveal_social{
  position: relative;
  transform: translateY(-150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal_social.active{
  transform: translateY(0px);
  opacity: 1;
}

/*================================== SOBRE ========================================*/

.sobre__title{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 400;
  color: black;
  font-size: 42px;
  text-decoration: none;
  line-height: 1.25;
}

.sobre__subtitle{
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: black;
  font-size: 22px;
}

.sobre__videoplayer{
  
  align-self: center;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 800px){
  .sobre__title{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 72px;
    text-decoration: none;
    line-height: 1.25;
  }
  
  .sobre__subtitle{
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: black;
    font-size: 2.5rem;
  }
  
  .sobre__videoplayer{
    
    align-self: center;
    width: 75%;
    height: 400px;
  }
}

/*================================== SOBRE/PAINEL ========================================*/

.painel{
  background-color: #1e1e1e;
  width: 100%;
  height: 500px;
}

.painel__content{
  width: 97%;
  height: 98%;
  margin-left: 2px;
  transform: translateY(1%);
  border: 1px solid white;
}

.painel__img{
  width: 85%;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}


.painel__title{
  color: white;
  width: 85%;
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

@media screen and (min-width: 300px){

  .painel{
    background-color: #1e1e1e;
    width: 100%;
    height: 650px;
  }
  .painel__content{
    width: 97%;
    height: 90%;
    margin-left: 5px;
    transform: translateY(5.5%);
    border: 1px solid white;
  }

  .painel__img{
    width: 88%;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
  }
  
  
  .painel__title{
    color: white;
    width: 88%;
    margin-left: 25px;
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
  }
}


@media screen and (min-width: 768px){

  .painel{
    background-color: #1e1e1e;
    width: 100%;
    height: 400px;
  }

  .painel__border{
    display: grid;
    grid-template-columns: 5fr 5fr;
  }

  .painel__content{
    width: 97%;
    height: 90%;
    margin-left: 15px;
    transform: translateY(5.5%);
    border: 1px solid white;
  }

  .painel__img{
    width: 92%;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
  }
  
  
  .painel__title{
    color: white;
    width: 92%;
    
    margin-top: 60px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
  }
}

@media screen and (min-width: 1024px){
  .painel__content{
    width: 97%;
    height: 90%;
    margin-left: 18px;
    transform: translateY(5.5%);
    border: 1px solid white;
  }

  .painel{
    background-color: #1e1e1e;
    width: 100%;
    height: 500px;
  }

  .painel__border{
    display: grid;
    grid-template-columns: 5fr 5fr;
  }

  .painel__content{
    width: 97%;
    height: 90%;
    margin-left: 15px;
    transform: translateY(5.5%);
    border: 1px solid white;
  }

  .painel__img{
    width: 92%;
    margin-top: 75px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
  }
  
  
  .painel__title{
    color: white;
    width: 92%;
    
    margin-top: 115px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
  }
}


/*================================== reveal-sobre ========================================*/

.reveal_content{
  position: relative;
  transform: translateY(55px);
  opacity: 0;
  transition: all 1s ease;
  overflow: hidden;
}

.reveal_content.active{
  transform: translateY(0px);
  opacity: 1;
}






/*================================== SCROLL-BAR WK ========================================*/


::-webkit-scrollbar{
  width: .60rem;
  background-color: white;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: .5rem;
}



/*================================== PRODUTOS ========================================*/


.prod__container{
  height: 700px;
  background-color: white;
  box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
}


.produtos{
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: 6.5fr 6.5fr;
}

.produtos__img{
  width: 100%;
  box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
  
}

.produtos__content{
  cursor: zoom-in;
  padding: 5px;
  margin-top: 10px;
}

.produtos__content:hover{
  transform: scale(1.1);
  transition: .5s ease;
}


@media screen and (min-width: 300px){
  .prod__container{
    height: 850px;
    background-color: white;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
  }
  
  
  .produtos{
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: 6.5fr 6.5fr;
  }
  
  .produtos__img{
    width: 100%;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
    
  }
  
  .produtos__content{
    cursor: zoom-in;
    padding: 5px;
    margin-top: 10px;
  }
  
  .produtos__content:hover{
    transform: scale(1.1);
    transition: .5s ease;
  }

}


@media screen and (min-width: 400px){

  .prod__container{
    height: 540px;
    background-color: white;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
  }
  
  
  .produtos{
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: 6.5fr 6.5fr 6.5fr;
  }
  
  .produtos__img{
    width: 100%;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
    
  }
  
  .produtos__content{
    cursor: zoom-in;
    padding: 5px;
    margin-top: 10px;
  }
  
  .produtos__content:hover{
    transform: scale(1.1);
    transition: .5s ease;
  }

}



@media screen and (min-width: 768px){
  .prod__container{
    height: 740px;
    background-color: white;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
  }
  
  
  .produtos{
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: 6.5fr 6.5fr 6.5fr;
  }
  
  .produtos__img{
    width: 100%;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
    
  }
  
  .produtos__content{
    cursor: zoom-in;
    padding: 5px;
    margin-top: 10px;
  }
  
  .produtos__content:hover{
    transform: scale(1.1);
    transition: .5s ease;
  }
}




@media screen and (min-width: 1024px){
  .prod__container{
    height: 1200px;
    background-color: white;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
  }
  
  
  .produtos{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 6.5fr 5fr 4fr;
  }
  
  .produtos__img{
    width: 100%;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.534);
    
  }
  
  .produtos__content{
    cursor: zoom-in;
    padding: 10px;
    margin-top: 50px;
  }
  
  .produtos__content:hover{
    transform: scale(1.1);
    transition: .5s ease;
  }

  .button__icon{
    font-size: 1.25rem;
    transition: .3s;
  }
}

.button--flex{
    display: inline-flex;
    align-items: center;
    
}
.button{
  display: inline-block;
  background-color: #929292;
  color: black;
  padding: .5rem;
  border-radius: .5rem;
  font-weight: 500;
  margin-left: 600px;
  text-decoration: none;
  box-shadow: 1px 3px 5px #1e1e1e;
}

.button:hover{
  
  color: #FFF;
}


/*================================== contato ========================================*/

.info{
  display: grid;
  grid-template-columns: 3fr;
}

.info a{
  text-decoration: none;
  color: black;
}


.barra__sup{
  width: 100%;
  background-color: #ffffff;
  height: 50px;
}

.barra__inf{
  color: rgb(0, 0, 0);
  display: inline-flex;
  
  width: 100%;
  background-color: #cccccc69;
  height: 50px;

}

.info__links{
  margin-left: 90px;
  transform: translateY(-80px);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.info__link{
  font-size: 44px;
  background-color: #ffffff;
  border-radius: 10px;
}

.info_sub-title{
  font-family: 'Work Sans', sans-serif;
  
  
}


/*================================== contato ========================================*/

.footer__link{
  text-decoration: none;
}


.container{
  max-width: 768px;
  margin-right: 1.5rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}


.footer{
  padding-top: 2rem;
}

.footer__container{
  row-gap: 3.5rem;
}

.footer__bg{
  background-color: #1e1e1e;
  padding: 2rem 0 3rem;
}

.footer__title{
  
  margin-bottom: .25rem;
}

.footer__subtitle{
  font-size: 15px;
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link{
  color: black;
  margin-left: -24px;
}

.footer__link:hover{

  color: #535353;
}

.footer__social{
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer__social:hover{
  color: #535353;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: #FFF;
}


@media screen and (min-width: 200px){

  .barra__inf{
    display: grid;
    grid-template-columns: 2fr;
    height: 400px;
  }

  .info__links{
    display: grid;
    margin-left: -10px;
    transform: translateY(-80px);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: -30px;
  }
  
  .info__link{
    font-size: 44px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .barra__sup{
    height: 80px;
  }
  


  .button{
    display: inline-block;
    background-color: #929292;
    color: black;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: 500;
    margin-left: 100px;
    text-decoration: none;
    box-shadow: 1px 3px 5px #1e1e1e;
  }
  body{
    overflow-x: hidden;
  }

  



}



@media screen and (min-width: 568px){

  .footer__container{
    grid-template-columns: repeat(2, 1fr);
}
body{
  overflow-x: hidden;
}

}



@media screen and (min-width: 768px){
  .footer__container{
    grid-template-columns: repeat(3, 1fr);
}

.footer__bg{
    padding: 3rem 0 3.5rem;
}

.footer__links{
    flex-direction: column;
    column-gap: 5rem;
    text-decoration: none;
}

.footer__socials{
    justify-self: flex-end;
}
body{
  overflow-x: hidden;
}

}


@media screen and (min-width: 1024px){
  .footer__container{
    padding: 0;
}

.footer__container{
    height: 5rem;
}

.footer{
    transform: translateY(2.92rem);
}
.barra__sup{
  width: 100%;
  background-color: #ffffff;
  height: 80px;
}

.barra__inf{
  color: rgb(0, 0, 0);
  display: inline-flex;
  
  width: 100%;
  background-color: #cccccc69;
  height: 80px;

}

.info__links{
  margin-left: 90px;
  transform: translateY(-30px);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.info__link{
  font-size: 44px;
  background-color: #ffffff;
  border-radius: 10px;
}

body{
  overflow-x: hidden;
}

}